body {
    background-color: #7d7d7d;
    text-align: center;
}

button {
    background-color: #0a0a09;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

button:hover {
    background-color: #555553;
}

#myMaster {
    font-size: 20px;
    padding-bottom: 20px
}