body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    max-width: 20rem;
    width: 100%;
    height: auto;
}

button {
    padding: .5rem 1rem;
    margin-top: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: .75rem;
}

button:hover {
    background-color: #333;
    color: #fff;
}
