body {
    background-color: #808080;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #0a0a09;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
}

div {
    display: inline-block;
    padding: 20px;
}

button:hover {
    background-color: #555553;
}

#myMaster {
    font-size: 20px;
    padding-bottom: 20px
}