body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: midnightblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}