body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

#box {
    width: 200px;
    background-color: #808080;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 18px;
}

button {
    background: #808080;
    padding: 15px;
    border-radius: 20px;
    border: 2px solid black;
}

button:hover {
    cursor: pointer;
    background: skyblue;


